<% layout('layout') -%>

Finding the perfect safety device of high quality at a reasonable price can be a challenge. SafeKart aims to bridge this gap and make road travel safer.
We, at SafeKart envisage to provide to a user friendly portal for easy access to standardized safety devices.
Fulfillment of our vision to make roads safer is a two-way street and we seek your support in our endeavour and invite you to a be part of the SafeKart family!
<h1>VISION:</h1><br>
<h3>“The vision behind SafeKart is to provide a user friendly portal for easy access to standardized safety devices” </h3><br><br>
Bringing together high grade and certified products to customers at a reasonable price and hence improve the degrading road safety scenario is our guiding light all through. We are empowered in our efforts when a law abiding citizen like yourself ensures his/her safety on roads by buying our products.
<br><h2>WHAT  WE AIM TO ACHIEVE WITH SafeKart :</h2><br>
1.To create a platform, where people can get to know the specification The Bureau of Indian Standards and International Standards of various safety devices
2.To promote use of road safety devices.
3.Sell products of best quality at minimum price.
4.Autonomy on selling and manufacturing safety devices under the brand “SafeKart”.
5.Partner with larger firms and bring their products to the market at an affordable price.

<br><h2><b>ABOUT IRSC:</b></h2>
The Indian Road Safety Campaign was started as a project under the IIT Delhi chapter of National Service Scheme with help of Transport Research and Injury Prevention Program. IRSC is a youth-led mission based at various colleges across India. The aim is to make Indian roads safer by working on all aspects of road safety!

<h2>VISION:</h2><br>
1 person is killed every 4 minutes on roads and the number of deaths due to road safety are higher than any other major illness in the world. IRSC aims to reduce the number of deaths to half by the year 2025 by bringing innovation at  policy and technical level.
IRSC reaches out to people via:
1) Technical Internships.
2) Policy Internships.
3) Lecture Sessions/Discussion Sessions.
4) Field Visits/Workshops.
5) Competitions.
Over the years IRSC has taken up projects to fulfill its vision. Safekart is one such endeavour towards improving road safety.

<br><br><h2>IRSC and SafeKart:</h2><br>
The vision behind SafeKart aligns with the umbrella vision of IRSC, i.e making road travel safer. There is no better way to ensure better road safety than to bring in material advancements in the form of products and encouraging people to buy them for their own good. SafeKart is thus a direct implementation of IRSC’s vision.

<br><h2>OBJECTIVE BEHIND SAFEKART:</h2>
Through SafeKart, we are providing a user friendly platform for people so that safety devices become easily accessible to them who wish to buy them and also help people understand their importance and what all their safety specifications are! This would help to decrease the number of accidents in India, number of deaths and even the intensity of injuries. This platform will provide only those products which are approved by Bureau of Indian Standard and International Standard. We also list down the specification that people must check before buying any safety device

<br><br>Safe-Kart is a widespread platform which offers all types of safety devices majorly categorised under these three categories-

 <br><h4>Road Related Safety Devices</h4>
This category includes the devices that must be present on the roads so as to provide total safety. These include reflectors, barriers, cones, sensors, road blockers, road signs etc.
<br><h4>Person Related Safety Devices</h4>
This category includes the devices that must be used by an individual himself to ensure safety, these are not just road related. The can be used in other situations as well. These include safety jackets, helmets, Searchlights, Gloves etc.

<br><h4>Vehicle Related Safety Devices</h4>
This category includes the devices that must be installed on a vehicle to ensure self as well as other’s safety on road. These include mirrors, reflectors, fire extinguishers etc.
